{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<form method="get" id="operator-form">
<div class="block1">
    <div class="group1">
        <div class="logo-div" style="position: relative; cursor: pointer;">
            <img id="logo"
                 src="{% static 'img/logo.png' %}"
                 alt="Company Logo">
        </div>

        <a href="{% url 'list2' %}?operator-name={{ selected_operator.name }}">
        <div class="score-div">
            <canvas id="scoreChart" width="150" height="150"></canvas>
            <div class="radial-text">
                <div class="score-number">
                    {% if monthly_scores and monthly_scores.mark is not none %}
                        {{ monthly_scores.mark }}
                    {% elif selected_operator and selected_operator.mark is not none %}
                        {{ selected_operator.mark }}
                    {% else %}
                        Нет данных
                    {% endif %}
                </div>
            </div>
        </div>
        </a>
    </div>

    <div class="group2">
        <div class="month-div">
            <div class="input-wrapper">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" id="operator-name" name="operator-name"
                       placeholder="                              Поиск"
                       oninput="filterDropdown()" autocomplete="off"
                       {% if selected_operator %}
                       value="{{ selected_operator.name }}"
                       {% endif %}>
            </div>
            <div id="dropdown">
                {% for operator in operators %}
                <div class="dropdown-item" data-name="{{ operator.name }}">
                    {{ operator.name }}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="status-div">
            <div class="status info" style="text-align: center;">
                {% if monthly_scores %}
                    {{ monthly_scores.bl }}
                {% else %}
                    {{ selected_operator.bl }}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="group3">
        <div class="profile-info">
<div class="profile-name-wrapper">
  <div class="scrolling-name" id="scrollingName">{{ selected_operator.name }} &nbsp;&nbsp;&nbsp; {{ selected_operator.name }} </div>
</div>
            <div class="profile-group">
                {{ selected_operator.group }}
            </div>

            {% if selected_operator and month_names_in_db %}
            <div>
                <form method="get">
                    <label for="month-select"></label>
                    <select name="month" id="month-select" onchange="this.form.submit()">
                        {% for month, month_name in month_names_in_db %}
                            <option value="{{ month }}" {% if month == selected_month %}selected{% endif %}>
                                {{ month_name }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            {% endif %}
        </div>

<div class="profile-photo">
    {% if selected_operator.photo %}
        <img src="{{ selected_operator.photo.url }}" alt="Operator Photo"
             style="pointer-events: none;">
    {% else %}
        <img src="{% static 'img/profile.png' %}" alt="Default Avatar"
             style="pointer-events: none;">
    {% endif %}
</div>
    </div>
    <div style="clear: both;"></div>
</div>
</form>
<script src="{% static 'back.js' %}"></script>
<script>
    const backgrounds = [
        {% for bg in backgrounds %}
            "{{ bg.image.url }}"{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];
</script>






